@using Microsoft.EntityFrameworkCore
@model TaskManagerWebsite.ViewModels.ForgotPasswordViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Login/login_index.css" />

<div style="text-align: center">
    <h4>Forgot Password</h4>
</div>

@if (TempData["FailedAttempts"] != null)
{
    <div class="alert alert-danger" style="margin-top: 35px; margin-bottom: 15px; text-align: center">
        <strong>Error!</strong> @TempData["FailedAttempts"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" style="margin-top: 35px; margin-bottom: 15px; text-align: center">
        <strong>Success!</strong> @TempData["SuccessMessage"]
    </div>
} 
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" style="margin-top: 35px; margin-bottom: 15px; text-align: center">
        <strong>Error!</strong> @TempData["ErrorMessage"]
    </div>
}

@if (Model is not { SentOneTime: true })
{
    <form asp-action="SendOneTimeCode" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username"/>
            <span asp-validation-for="Username"></span>
        </div>
    
        <button type="submit">Send One-Time Code</button>
    </form>
}

@if (Model is { SentOneTime: true, VerifiedOneTime: false })
{
    <form asp-action="VerifyOneTimeCode" method="post">

        <input type="hidden" asp-for="VerificationAttempts"/>
        <input type="hidden" asp-for="Username"/>
        <input type="hidden" asp-for="SentOneTime"/>
        <input type="hidden" asp-for="VerifiedOneTime"/>

        <div>
            <label asp-for="OneTimeCode"></label>
            <input asp-for="OneTimeCode"/>
            <span asp-validation-for="OneTimeCode"></span>
        </div>

        <button type="submit">Verify</button>
    </form>
}

@if (Model is { VerifiedOneTime: true })
{
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="VerificationAttempts"/>
        <input type="hidden" asp-for="Username"/>
        <input type="hidden" asp-for="SentOneTime"/>
        <input type="hidden" asp-for="VerifiedOneTime"/>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword"/>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <button type="submit">Change Password</button>
    </form>
}

<div style="text-align: center">
    <a href="@Url.Action("Index", "Login")" class="btn btn-secondary">Back to Login</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}