################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManager/.vs/TaskManager
.vs/
code/TaskManager/TaskManagerDatabase/TaskManagerDatabase.jfm
code/TaskManager/TaskManagerDatabase/TaskManagerDatabase.dbmdl
