.groups-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #007bff;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    transition: background 0.3s ease;
}

.btn-cancel {
    background: #585d61;
    margin: 3px 3px 3px 3px;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 12px;
}

    .btn-danger:hover {
        background-color: #a71d2a;
    }

form {
    display: inline;
}
