@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    string userName = User.Identity.IsAuthenticated ? User.Identity.Name : "Guest";
}

<link rel="stylesheet" href="~/css/Home/home_index.css" />

<main class="home-container">
    <div class="card">
        <h2>Welcome, @userName!</h2>

        @if (!User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Index", "Login")" class="btn btn-primary">Login</a>
        }
    </div>
</main>
