@{
    ViewData["Title"] = "Home Page";
}

<main>

    <div>
        @Html.ActionLink("List of Users", "Index", "Users")<br />
    </div>

    <div>
        @Html.ActionLink("Logout", "Login", "Account")<br />
    </div>

</main>
