@using TaskManagerWebsite.Components
@using Microsoft.AspNetCore.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TaskManagerWebsite.ViewModels.ProjectViewModels.CreateProjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/User/createProject.css" asp-append-version="true" />

<h2 class="text-center">Create New Project</h2>

<div class="container">
    <div class="form-container">
        <form asp-action="CreateProject" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <label>Project Lead</label>
                <component type="typeof(GenericSelect<User>)"
                           render-mode="ServerPrerendered"
                           param-Items="Model.ProjectLeads"
                           param-SelectedItemId="@Model.SelectedProjectLeadId" 
                           param-IdProperty=@("Id")
                           param-DisplayTextProperty=@("UserName")
                           param-HiddenInputName=@("SelectedProjectLeadId") />
                <span asp-validation-for="@Model.SelectedProjectLeadId" class="text-danger"></span>

            </div>

            <div class="form-group">

                <component type="typeof(ProjectGroupSelection)" 
                           render-mode="ServerPrerendered" 
                           param-Groups="Model.Groups" 
                           param-SelectedGroupIds="Model.GroupIds" />
                <span asp-validation-for="@Model.GroupIds" class="text-danger"></span>

            </div>

            <button type="submit" class="btn btn-success">Create</button>
            <a asp-action="Projects" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/groupFunctions.js"></script>
}