@model TaskManagerWebsite.Models.Project

<link rel="stylesheet" href="/css/main.css" asp-append-version="true" />

<h2 class="tm-header__title tm-text--center">Edit Project</h2>

<div class="tm-form-container">
    <form asp-action="EditProject" method="post" class="tm-form">
        <input type="hidden" asp-for="Id" />

        <div class="tm-form__group">
            <label asp-for="Name" class="tm-form__label"></label>
            <input asp-for="Name" class="tm-form__input" />
            <span asp-validation-for="Name" class="tm-form__error"></span>
        </div>

        <div class="tm-form__group">
            <label asp-for="Description" class="tm-form__label"></label>
            <textarea asp-for="Description" class="tm-form__input"></textarea>
            <span asp-validation-for="Description" class="tm-form__error"></span>
        </div>

        <div class="tm-form__group">
            <label asp-for="ProjectLeadId" class="tm-form__label">Project Lead</label>
            <select asp-for="ProjectLeadId" class="tm-form__input">
                @foreach (var user in ViewBag.ProjectLeads)
                {
                    <option value="@user.Id">@user.UserName</option>
                }
            </select>
            <span asp-validation-for="ProjectLeadId" class="tm-form__error"></span>
        </div>

        <button type="submit" class="tm-btn tm-btn--success">Save Changes</button>
        <a asp-action="ProjectDetails" asp-route-id="@Model.Id" class="tm-btn tm-btn--secondary">Cancel</a>
    </form>
</div>