@model TaskManagerWebsite.ViewModels.UserViewModel

@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/main.css" asp-append-version="true" />

<div class="tm-container">
    <div class="tm-form-container">
        <h1 class="tm-header__title tm-text--center">Add New User</h1>

        <form asp-action="UserAdd" method="post" class="tm-form needs-validation" novalidate>
            <div class="tm-form__group">
                <label asp-for="UserName" class="tm-form__label">User Name</label>
                <input asp-for="UserName" class="tm-form__input" />
                <span asp-validation-for="UserName" class="tm-form__error"></span>
            </div>

            <div class="tm-form__group">
                <label asp-for="Email" class="tm-form__label">Email</label>
                <input asp-for="Email" class="tm-form__input" />
                <span asp-validation-for="Email" class="tm-form__error"></span>
            </div>

            <div class="tm-form__group">
                <label asp-for="Password" class="tm-form__label">Password</label>
                <input asp-for="Password" class="tm-form__input" type="password" />
                <span asp-validation-for="Password" class="tm-form__error"></span>
            </div>

            <div class="tm-form__group">
                <label asp-for="ConfirmPassword" class="tm-form__label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="tm-form__input" type="password" />
                <span asp-validation-for="ConfirmPassword" class="tm-form__error"></span>
            </div>

            <button type="submit" class="tm-btn tm-btn--success tm-btn--block mt-3">Add</button>
            <a asp-action="Users" asp-controller="User" class="tm-btn tm-btn--secondary tm-btn--block mt-2">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
