
/* Centering the add form */
.form-add input {
    display: block;
    width: 350px;
    margin: 5px auto;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-add .label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}


/* Styling labels */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Styling input fields */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Error message styling */
span {
    color: red;
    font-size: 12px;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    text-align: center;
}

.btn-cancel {
    background: #585d61;
    margin: 3px 3px 3px 3px;
}

/* Submit button styling */
.button {
    display: block;
    width: 5%;
    margin: 5px auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .button:hover {
        background-color: #0056b3;
    }

/* Centering the register link */
p {
    text-align: center;
    margin-top: 15px;
}

    p a {
        color: #007bff;
        text-decoration: none;
    }

        p a:hover {
            text-decoration: underline;
        }
